################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/typemach/x64/Debug
/.vs/typemach
